<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZipArchiveNormalizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <ZipArchiveNormalizer.Properties.Settings>
            <setting name="ImageCollectionArchiveFileNamePatternText" serializeAs="String">
                <value>^(?!.*青空文庫txt).*\.zip$</value>
            </setting>
            <setting name="AozoraBunkoArchiveFileNamePatternText" serializeAs="String">
                <value>青空文庫txt.*\.zip$</value>
            </setting>
            <setting name="ContentArchiveFileNamePatternText" serializeAs="String">
                <value>^((?!.*青空文庫txt).*\.zip)|(.*\.epub)$</value>
            </setting>
            <setting name="NotedEntryNamePatternText" serializeAs="String">
                <value>(\.(pdf|bmp|zip)$)|(resized)</value>
            </setting>
            <setting name="MimeTypeEntryNamePatternText" serializeAs="String">
                <value>^mimetype$</value>
            </setting>
            <setting name="UselessEntryNameForImageCollectionPatternText"
                serializeAs="String">
                <value>^(.*\.(exe|bat|scr|com|vbs|jar|db|ini|url|lst|dvi|htm|html|mht|mhtml|rtf|txt)|\.DS_Store)$</value>
            </setting>
            <setting name="UselessEntryNameForAozoraBunkoPatternText" serializeAs="String">
                <value>^(.*\.(exe|bat|scr|com|vbs|jar|db|ini|url|lst|dvi|htm|html|mht|mhtml|rtf)|\.DS_Store)$</value>
            </setting>
            <setting name="UselessEntryNameForContentPatternText" serializeAs="String">
                <value>\.(exe|bat|scr|com|vbs|jar)$</value>
            </setting>
            <setting name="FilesNotToBeExtractedForAozoraBunkoPatternText"
                serializeAs="String">
                <value>^(read ?me'?|誤字脱字|置換|訂正リスト|追記|注|校正情報|おまけ|注意)(\s*\((unicode|utf-?(7|8|16|31))\))?$</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>ZipArchiveNormalizer</value>
            </setting>
            <setting name="NotedEntryCrc32List" serializeAs="String">
                <value>0E8080EB;E159561F</value>
            </setting>
        </ZipArchiveNormalizer.Properties.Settings>
    </applicationSettings>
</configuration>